<!DOCTYPE html>
<html lang="en" id="main_page" ng-app="listapp2">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="google-signin-client_id" content="564236928671-crejp57oa63oc44jjjnbf7jqj9qes9t9.apps.googleusercontent.com">
<title>Amodcs</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-social.css" rel="stylesheet">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Custom styles for this template -->

<link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">

 <script src="js/oauth.js"></script>
</head>
<div style="width:100%; padding-bottom: 25%; background:url('images/background.gif');
       background-size: 1680px 1050px">
<style>
#notifications {
  padding-top:50px
}
#authens {
  padding-top:150px
}
.row{
  padding-top:150px;
  padding-left:50px;
}
#list{
  padding-top:150px;
  padding-left:50px;
}
.table table-hover{

  padding-left:50px;
margin-top: 10px;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="https://connect.facebook.net/en_US/all.js"></script>


<body ng-controller="admin_controller" id="admin">
<header class= "navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="options.html"><i class="fa fa-home w3-margin-right"></i>Amdocs</a>
      </div>
      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-fw fa-comment"></span> Feedback</a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
</ul>
    </li>
    <li>
      <a target="gae-init-docs"> <i class="fa fa-fw fa-phone"></i> Contact</a>
    </li>
    <li>
      <a href="approval.html"> <i class="fa fa-fw fa-tasks"></i> Approve/Schedule CCs</a>
    </li>
    <li>
      <a href="profiles.html"> <i class="fa fa-fw fa-male"></i> Manage Users</a>
    </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a><img src="images/user.jpg" id="pic" height="20" width="20"></a>
              </li>
          <li>
            <a id="username">--</a>
          </li>
          <li>
            <a id="logoutBtn" href="/logout"><span class="fa fa-fw fa-sign-in"></span> Sign out</a>
          </li>
    <li class="active">
      <a id="loginBtn"><span class="fa fa-fw fa-sign-in"></span> Sign in</a>
    </li>
        </ul>
      </nav>
    </div>
  </header>

<div id="list">
  <div class="w3-row-padding w3-margin-bottom">
  <div class="w3-quarter" ng-click="orders ='-creation_date'" >
    <div class="w3-container w3-red w3-padding-16">
      <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>{{new_sub}}</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>New Submissons</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-blue w3-padding-16">
      <div class="w3-left"><i class="fa fa-pencil-square-o w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>{{modi}}</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Modifications</h4>
    </div>
  </div>
<div class="w3-quarter" style="right: 20px">
    <div><input style="float:none" placeholder="Search" ng-model="search"/></div>
</div>
</div>

  <table class="table table-hover">
     <thead>
       <tr>
         <th>Subject</th>
         <th>Company</th>
         <th>Creation Date</th>
          <th>Creator</th>
          <th>Contacts</th>
          <th>Current Status</th>
         <th>Actions</th>
       </tr>
     </thead>
     <tbody>
      <tr ng-repeat="rfc in rfcs | orderBy: orders | filter : search">
         <td>{{rfc.subject}}</td>
         <td>{{rfc.company}}</td>
         <td>{{rfc.creation_date | date: 'MM/dd/yyyy'}}</td>
         <td>{{rfc.name}}</td>
            <td>{{rfc.email}}</td>
            <td id="{{$index}}">{{rfc.status}}</td>
            <td style="width: 363px; height: 51px" class="btn-group">

  <button type="button" class="btn btn-secondary" ng-click="approve(rfc._id, $index)"><i class="fa fa-fw fa-check-square"></i></button>
  <button type="button" class="btn btn-secondary" ng-click="reject(rfc._id, $index)"><i class="fa fa-fw fa-times"></i></button>
  <button type="button" class="btn btn-secondary" onclick="location.reload(true)"><i class="fa fa-fw fa-refresh"></i></button>
  <button type="button" class="btn btn-secondary" ng-click="view(rfc._id)"><i class="fa fa-fw fa-eye"></i></button>
            </td>

       </tr>
     </tbody>
   </table>
</div>
</div>
<footer class="w3-container w3-padding-32 w3-black">
<div class="w3-row-padding w3-black">
  <div class="w3-third w3-black">
    <h3>FOOTER</h3>
    <p>Some info about Amdocs maybe?</p>
    <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </div>
  <div class="w3-third">
    <h3>BLOG POSTS</h3>
    <ul class="w3-ul w3-hoverable">
      <li class="w3-padding-16">

        <span class="w3-large">Lorem</span><br>
        <span>Sed mattis nunc</span>
      </li>
      <li class="w3-padding-16">

        <span class="w3-large">Ipsum</span><br>
        <span>Praes tinci sed</span>
      </li>
    </ul>
  </div>

  <div class="w3-third">
    <h3>POPULAR TAGS</h3>
    <p>
      <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Games</span>
    </p>
  </div>

</div>



</footer>
<script>

$( document ).ready(function() {
  //document.getElementById("tick").style.display = "none";
$('#tick').hide();
$('#cross').hide();
$('.dropdown-content').hide();
  var scope = angular.element(document.getElementById("admin")).scope();
    scope.$apply(function () {
    scope.getList();
    });

 });

 function giveFeed() {
  //   document.getElementById("myDropdown").classList.toggle("show");
$('.dropdown-content').show();
 }

</script>
<script>
// web services
angular.module('admin_forms', [])
.factory('admin_factory', ['$http', '$q', function($http, $q){
  return{
    get_form: function(){
        return $http.get('/api/rfc');
    },
    delete_form: function(subject){
      return $http.delete('/api/rfc',subject);
    },
    changeStatus : function(id, status){
      return $http.put('/api/rfc/'+ id, status);
    },
    get_profile: function(){
        return $http.get('/user/profile');
    },
    send_feedback: function(data){
      return $http.post('/api/feedback', data);
    },
    clone_form : function(id){
      return $http.get('/api/rfc/'+ id);
    }

  }
}]);

// controller
angular.module('admin_control',[])
.controller('admin_controller', ['$scope', '$http', 'admin_factory', function($scope, $http, admin_factory){
var rfcs = {};
var feedback = {} ;
$scope.feedback = {};

$scope.giveBack = function(){
var json = JSON.stringify($scope.feedback,null, 4);
document.getElementById('myDropdown').style.visibility = "hidden";
  admin_factory.send_feedback(json)
  .success(function(data){
    $scope.feedback = {};
    console.log('done');
  });
};
$scope.left = function(id){
  $scope.index.id = id-1;
};
$scope.right = function(id){
  $scope.index.id = id+1;
};
$scope.date = new Date();
  admin_factory.get_profile()
  .success(function(data){
    $scope.user = data;
    document.getElementById('username').innerHTML = data.name;
    $('#pic').attr('src', data.image);

  });
  $scope.view = function(id){
    admin_factory.clone_form(id)
    .success(function(){
        window.top.location = "form.html"+ '?id='+ id + '&mode=view';
    });
  };


$scope.getList = function() {

admin_factory.get_form()
.success(function(data){
  $scope.rfcs = data;
  $scope.new_sub = 0;
  for (var i = 0; i< data.length; i++){
    if((Date.parse($scope.date)-Date.parse(data[i].creation_date))/(1000*60*60*24) <= 1){
      $scope.new_sub++;

    }
  }
});
};

$scope.approve = function(id, id2){

admin_factory.changeStatus(id, {"status" : 'approved'})
.success(function(obj){
document.getElementById(id2).innerHTML = "approved";
});

};
$scope.reject = function(id, id2){

  admin_factory.changeStatus(id, {"status" : 'rejected'})
  .success(function(obj){
document.getElementById(id2).innerHTML = "rejected";
  });


};


}]);

// core
angular.module('listapp2', ['admin_control', 'admin_forms', 'ngRoute']);
</script>

</body>
  </div>
</html>
