<!DOCTYPE html>
<html lang="en" id="main_page" ng-app="listapp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="google-signin-client_id" content="564236928671-crejp57oa63oc44jjjnbf7jqj9qes9t9.apps.googleusercontent.com">
<title>Amodcs</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-social.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Custom styles for this template -->

<link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="css/animate.css">
 <script src="js/oauth.js"></script>
</head>
<div style="width:100%; padding-bottom: 25%; background:url('images/background.gif');
       background-size: 1680px 1050px">
<style>
#notifications {
  padding-top:50px
}
#authens {
  padding-top:150px
}
.row{
  padding-top:150px;
  padding-left:50px;
}
#list{
  padding-top:150px;
  padding-left:50px;
}
.table table-hover{

  padding-left:50px;
margin-top: 10px;
}
.selected{
  background-color: yellow;
}
.col-md-4 {
margin-top: 20px;

}
.modal{
  padding-top:150px;
}

label{
  margin-top: 20px;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="https://connect.facebook.net/en_US/all.js"></script>


<body ng-controller="user_controller" id="control">
<header class= "navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="http://www.amdocs.com/pages/homepage.aspx">Amdocs</a>
      </div>
      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
    <li class="">
      <a href="/feedback/"><span class="fa fa-fw fa-comment"></span> Feedback</a>
    </li>
    <li>
      <a target="gae-init-docs"> <i class="fa fa-fw fa-phone"></i> Contact</a>
    </li>
    <li>
      <a href="approval.html"> <i class="fa fa-fw fa-tasks"></i> Approve/Schedule CCs</a>
    </li>
    <li>
      <a target="gae-init-docs"> <i class="fa fa-fw fa-male"></i> Manage Users</a>
    </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a><img src="images/user.jpg" id="pic" height="20" width="20"></a>
              </li>
          <li>
            <a id="username">--</a>
          </li>
          <li>
            <a id="logoutBtn" ng-click="log_out()"><span class="fa fa-fw fa-sign-in"></span> Sign out</a>
          </li>
    <li class="active">
      <a id="loginBtn"><span class="fa fa-fw fa-sign-in"></span> Sign in</a>
    </li>
        </ul>
      </nav>
    </div>
  </header>

<div class="container" id="list">

  <div class="row">
<div class="animated bounceInUp U" ondrop="drop(event)" ondragover="allowDrop(event)">
      <div ng-repeat="user in users | filter: {role :'user'}:true" class="col-md-4" style="width:200px;height:200px" draggable="true" ondragstart="drag(event)">

        <a class="thumbnail">
          <span class={{user.icon}} id={{$index}}t></span>
         <img class="loader" ng-src="{{user.image}}" style="width:150px;height:150px" />
<p>{{user.name}}</p>

</a>
</div>

<div class="col-md-4" style="width:200px;height:250px">
  <a data-toggle="modal" data-target="#myModal" class="thumbnail">
   <img src="images/add.png" style="width:150px;height:150px"/>
<p>add a new user</p>

</a>
</div>

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form method="post" action="/api/user">
          <div>
            <h3 style="text-align:center">Create New User</h3>
            <div>
            <label>Name:</label>
            <input type="text" name="user" id="usrnm" placeholder="Name" ng-model="user.name">
          </div>
          <div>
          <label>Company:</label>
          <input type="text" name="user" id="usrnm1" placeholder="Company name">
        </div>
        <div>
        <label>Email address:</label>
        <input type="text" name="user" id="usrnm" placeholder="Email" ng-model="user.email">
      </div>
            <div>
            <label for="log">make administrator</label>
            <input type="checkbox" name="login" id="log" value="1" ng-model="user.admin">
                  </div>
            <a type="submit" data-inline="true" ng-click="createUser()" data-dismiss="modal" class="btn btn-block btn-social btn-dropbox">
              <span class="fa fa-plus-square"></span> Create User
            </a>
            <p id="exist">this user already exist</p>
            <p id="fill">please fill in the email field</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 <legend class="text-muted text-center" style="color:black">Unregistered Users</legend>
 <div class="animated bounceInUp" ondrop="drop(event)" ondragover="allowDrop(event)">
       <div ng-repeat="user in users | filter: {role :'not-user'}:true" id={{user._id}} class="col-md-4 UU" style="width:200px;height:200px" draggable="true" ondragstart="drag(event)">

         <a class="thumbnail">
           <span class={{user.icon}} id={{$index}}t></span>
          <img class="loader" ng-src="{{user.image}}" style="width:150px;height:150px" />
 <p>{{user.name}}</p>

 </a>
 </div>
</div>
<legend class="text-muted text-center" style="color:black">Administrator</legend>
<div class="animated bounceInUp" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:100px; height:100px">
      <div ng-repeat="user in users | filter: {role :'admin'}:true" class="col-md-4 A" style="width:200px;height:200px" draggable="true" ondragstart="drag(event)">

        <a class="thumbnail">
          <span class={{user.icon}} id={{$index}}t></span>
         <img class="loader" ng-src="{{user.image}}" style="width:150px;height:150px" />
<p>{{user.name}}</p>

</a>
</div>
</div>
</div>
<script>
// web services
angular.module('user_forms', [])
.factory('user_factory', ['$http', '$q', function($http, $q){
  return{

    get_user: function(){
        return $http.get('/api/user');
    },
    delete_form: function(subject){
      return $http.delete('/api/rfc',subject);
    },
    get_form_email: function(email){
      return $http.get('/api/rfc/' + email);
    },
    log_out : function(){
      return $http.get('/logout');
    },
    create_user : function(data){
      return $http.post('/api/user', data);
    },
    status_change : function(id, new_status){
      return $http.put('/api/user/'+id, new_status);
    }
  }
}]);
// controller
angular.module('user_control',[])
.controller('user_controller', ['$scope', '$http', 'user_factory',function($scope, $http, user_factory){
$scope.ids = null;
$scope.user = {};
// functions for changing status
$scope.toAdmin = function(id){
    $scope.user.role = 'admin';
    var json = JSON.stringify($scope.user,null, 4);
    user_factory.status_change(id,json)
    .success(function(data){
          $scope.user = {};

      });

};
$scope.toUser = function(id){
    $scope.user.role = 'user';
    var json = JSON.stringify($scope.user,null, 4);
    user_factory.status_change(id,json)
    .success(function(data){
          $scope.user = {};

      });

};
$scope.toUUser = function(id){
    $scope.user.role = 'not-user';
    var json = JSON.stringify($scope.user,null, 4);
    user_factory.status_change(id,json)
    .success(function(data){
          $scope.user = {};

      });

};

user_factory.get_user()
.success(function(data){
  $scope.users = data;
for( var i = 0 ; i< $scope.users.length; i++ ){
  if($scope.users[i].provider == 'twitter'){
  $scope.users[i].icon = 'fa fa-twitter';
}
else if($scope.users[i].provider == 'facebook'){
  $scope.users[i].icon = 'fa fa-facebook';
}
else if($scope.users[i].provider == 'linkedin'){
  $scope.users[i].icon = 'fa fa-linkedin';
}
else if($scope.users[i].provider == 'google'){
  $scope.users[i].icon = 'fa fa-google';
}
else{
$scope.users[i].icon =   'fa fa-square-o';
}

}
});
$scope.createUser = function(){

  if($scope.user.admin){
  $scope.user.role = 'admin';
}
else{
$scope.user.role = 'user';
}
  var json = JSON.stringify($scope.user,null, 4);


  user_factory.create_user(json)
  .success(function(data){
      $scope.user = {};

  });
window.top.location = "profiles.html";


}
$scope.getId = function(id){
  $scope.ids = id;
};
$scope.log_out = function(){

  user_factory.log_out();
  window.top.location = "login.html"
};

}]);

// core
angular.module('listapp', ['user_control', 'user_forms', 'ngRoute']);
</script>
<script>
$( document ).ready(function() {
$('#exist').hide();
$('#fill').hide();
var drop_items = $('.dnd-onto-website').find('.drop');
function setUpEventListeners() {
  drop_items.each(function() {
    var thisDrop = $(this);


    thisDrop[0].addEventListener('drop', drop);


  });

}
setUpEventListeners();
function drag(event){
  event.dataTransfer.setData("text/html", event.target.id);
}




 });
 function drag(event){
   event.dataTransfer.setData("text/html", event.target.id);

 }
 function drop(event){
   event.preventDefault();

     var drop = $(this);

     drop.removeClass('drop-active');
     var item_id, dataType;
     item_id = event.dataTransfer.getData('text/html');
     dataType = 'text/html';
     event.target.appendChild(document.getElementById(item_id));
  $('#control').scope().toAdmin(item_id);
    alert($(event.target).attr('class'));
 }

 function allowDrop(ev) {
     ev.preventDefault();
 }


</script>
</body>
  </div>
</html>
